# Ignore .DS_Store files on OS X
.DS_Store

.env

db

angular/node_modules
angular/dist-local

angular/src/**/*.map
angular/src/**/*.js
.idea/
node_modules/*

!node_modules/keystone

!node_modules/marked_extended

!node_modules/highlight

*.log

routes/post/lotterydata

